---
http_interactions:
- request:
    method: get
    uri: https://api.moysklad.ru/api/remap/1.2/entity/product/875d7130-d31d-11e9-0a80-025a002970c1/images?limit=100&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AdG9rYXJldmF0YXRpYW5hOjQxZjU1ZTgxM2FiYg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Lognex-Reset:
      - '0'
      X-Lognex-Retry-After:
      - '0'
      X-Lognex-Retry-Timeinterval:
      - '3000'
      X-Ratelimit-Remaining:
      - '44'
      X-Ratelimit-Limit:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "context" : {
            "employee" : {
              "meta" : {
                "href" : "https://api.moysklad.ru/api/remap/1.2/context/employee",
                "metadataHref" : "https://api.moysklad.ru/api/remap/1.2/entity/employee/metadata",
                "type" : "employee",
                "mediaType" : "application/json"
              }
            }
          },
          "meta" : {
            "href" : "https://api.moysklad.ru/api/remap/1.2/entity/product/875d7130-d31d-11e9-0a80-025a002970c1/images?offset=0&limit=100",
            "type" : "image",
            "mediaType" : "application/json",
            "size" : 2,
            "limit" : 100,
            "offset" : 0
          },
          "rows" : [ {
            "meta" : {
              "href" : "https://api.moysklad.ru/api/remap/1.2/entity/product/875d7130-d31d-11e9-0a80-025a002970c1/images/08d17b12-c10a-45b6-97ca-26d3853c3c03",
              "type" : "image",
              "mediaType" : "application/json",
              "downloadHref" : "https://api.moysklad.ru/api/remap/1.2/download/08d17b12-c10a-45b6-97ca-26d3853c3c03"
            },
            "title" : "0225222508_267_1",
            "filename" : "0225222508_267_1.jpg",
            "size" : 151230,
            "updated" : "2020-06-23 11:19:17.189",
            "miniature" : {
              "href" : "https://api.moysklad.ru/api/remap/1.2/download/08d17b12-c10a-45b6-97ca-26d3853c3c03?miniature=true",
              "type" : "image",
              "mediaType" : "image/png",
              "downloadHref" : "https://miniature-prod.moysklad.ru/miniature/56bd4617-d31d-11e9-0a80-025300024b0d/documentminiature/64df51d6-e707-4292-b4d8-c11fa87076ca"
            },
            "tiny" : {
              "href" : "https://tinyimage-prod.moysklad.ru/static/tinyimage/56bd4617-d31d-11e9-0a80-025300024b0d/tinyimage/8310eceb-86c6-4c50-844c-9723d6bc1f06/t.png",
              "type" : "image",
              "mediaType" : "image/png"
            }
          }, {
            "meta" : {
              "href" : "https://api.moysklad.ru/api/remap/1.2/entity/product/875d7130-d31d-11e9-0a80-025a002970c1/images/999e6f35-6c88-43c9-a9c4-0c1dd7894df9",
              "type" : "image",
             [...]
