---
http_interactions:
- request:
    method: get
    uri: https://api.moysklad.ru/api/remap/1.2/entity/productfolder?limit=2&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Lognex-Reset:
      - '0'
      X-Lognex-Retry-After:
      - '0'
      X-Lognex-Retry-Timeinterval:
      - '3000'
      X-Ratelimit-Remaining:
      - '44'
      X-Ratelimit-Limit:
      - '45'
    body:
      encoding: UTF-8
      string: |-
        {
          "context" : {
            "employee" : {
              "meta" : {
                "href" : "https://api.moysklad.ru/api/remap/1.2/context/employee",
                "metadataHref" : "https://api.moysklad.ru/api/remap/1.2/entity/employee/metadata",
                "type" : "employee",
                "mediaType" : "application/json"
              }
            }
          },
          "meta" : {
            "href" : "https://api.moysklad.ru/api/remap/1.2/entity/productfolder?offset=0&limit=2",
            "type" : "productfolder",
            "mediaType" : "application/json",
            "size" : 46,
            "limit" : 2,
            "offset" : 0,
            "nextHref" : "https://api.moysklad.ru/api/remap/1.2/entity/productfolder?offset=2&limit=2"
          },
          "rows" : [ {
            "meta" : {
              "href" : "https://api.moysklad.ru/api/remap/1.2/entity/productfolder/067ddcdc-b4aa-11f0-0a80-1968001f16f1",
              "metadataHref" : "https://api.moysklad.ru/api/remap/1.2/entity/productfolder/metadata",
              "type" : "productfolder",
              "mediaType" : "application/json",
              "uuidHref" : "https://online.moysklad.ru/app/#good/edit?id=067ddcdc-b4aa-11f0-0a80-1968001f16f1"
            },
            "id" : "067ddcdc-b4aa-11f0-0a80-1968001f16f1",
            "accountId" : "1e079fd4-f240-11ee-0a80-0681000027c7",
            "owner" : {
              "meta" : {
                "href" : "https://api.moysklad.ru/api/remap/1.2/entity/employee/1e2c45eb-f240-11ee-0a80-16d90003dc52",
                "metadataHref" : "https://api.moysklad.ru/api/remap/1.2/entity/employee/metadata",
                "type" : "employee",
                "mediaType" : "application/json",
                "uuidHref" : "https://online.moysklad.ru/app/#employee/edit?id=1e2c45eb-f240-11ee-0a80-16d90003dc52"
              }
            },
            "shared" : true,
            "group" : {
              "meta" : {
                "href" : "https://api.moysklad.ru/api/remap/1.2/entity/group/1e081f6b-f240-11ee-0a80-0681000027c8",
                "metadataHref" : "https://api.moysklad.ru/api/remap/1.2/entity/group/metadata",
                "type" : "group",
                "mediaType" : "application/json"
              }
            },
            "updated" : "2025-10-29 12:31:19.482",
            "name" : "1.2 Дочерняя группа с товаром",
            "externalCode" : "hhMWkChWggqnchFlNwytW2",
            "archived" : false,
            "pathName" : "1 Родительская группа с товаром",
            "productFolder" : {
              "meta" : {
                "href" : "https://api.moysklad.ru/api/remap/1.2/entity/productfolder/fa517a62-b4a9-11f0-0a80-160c001ee249",
                "metadataHref" : "https://api.moysklad.ru/api/remap/1.2/entity/productfolder/metadata",
                "type" : "productfolder",
                "mediaType" : "application/json",
                "uuidHref" : "https://online.moysklad.ru/app/#good/edit?id=fa517a62-b4a9-11f0-0a80-160c001ee249"
              }
            },
            "useParentVat" : true
          }, {
            "meta" : {
              "href" : "https://api.moysklad.ru/api/remap/1.2/entity/productfolder/0835bdde-991b-11f0-0a80-161600058999",
              "metadataHref" : "https://api.moysklad.ru/api/remap/1.2/entity/productfolder/metadata",
              "type" : "productfolder",
              "mediaType" : "application/json",
              "uuidHref" : "https://online.moysklad.ru/app/#good/edit?id=0835bdde-991b-11f0-0a80-161600058999"
            },
            "id" :[...]
- request:
    method: get
    uri: https://api.moysklad.ru/api/remap/1.2/entity/productfolder?limit=2&offset=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Lognex-Reset:
      - '0'
      X-Lognex-Retry-After:
      - '0'
      X-Lognex-Retry-Timeinterval:
      - '3000'
      X-Ratelimit-Remaining:
      - '44'
      X-Ratelimit-Limit:
      - '45'
    body:
      encoding: UTF-8
      string: |-
        {
          "context" : {
            "employee" : {
              "meta" : {
                "href" : "https://api.moysklad.ru/api/remap/1.2/context/employee",
                "metadataHref" : "https://api.moysklad.ru/api/remap/1.2/entity/employee/metadata",
                "type" : "employee",
                "mediaType" : "application/json"
              }
            }
          },
          "meta" : {
            "href" : "https://api.moysklad.ru/api/remap/1.2/entity/productfolder?offset=2&limit=2",
            "type" : "productfolder",
            "mediaType" : "application/json",
            "size" : 46,
            "limit" : 2,
            "offset" : 2,
            "nextHref" : "https://api.moysklad.ru/api/remap/1.2/entity/productfolder?offset=4&limit=2",
            "previousHref" : "https://api.moysklad.ru/api/remap/1.2/entity/productfolder?offset=0&limit=2"
          },
          "rows" : [ {
            "meta" : {
              "href" : "https://api.moysklad.ru/api/remap/1.2/entity/productfolder/0a93e85b-991b-11f0-0a80-05fe00061f97",
              "metadataHref" : "https://api.moysklad.ru/api/remap/1.2/entity/productfolder/metadata",
              "type" : "productfolder",
              "mediaType" : "application/json",
              "uuidHref" : "https://online.moyskla[...]
[...]
